.card-section {
  grid-area: c;
  background-color: aliceblue;
  line-height: 2em;
}
.card-image{
  width: 100%;
  height: auto;
}
.card-section h3 {
    font-size: 30px;
    text-shadow: 0 0 3px grey;
    text-align: center;
    padding: 30px;
}
.card-section-heading {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.5em;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding-bottom: 30px;
    width: 90%;
    margin: 0 auto;
} 

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 700px;
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 8px gray;
}
.card:hover {
  background-color: rgb(230, 214, 194);
  box-shadow: 0 0 8px rgb(121, 71, 71);
}
.card-button {
  background-color: darkkhaki;
  padding: 12px;
  font-size: 1.5em;
  border-radius: 4px;
  color: black;
  display: inline-block;
  width: 200px;
}