.form-section {
    grid-area: fr;
    background-color: rgb(236, 236, 234);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;  
    line-height: 1.5em;
    max-width: 450px;
    border-radius: 3px;
    box-shadow: 0 0 4px gray;
    padding: 20px;
}
label {
    font-weight: 400;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    padding: 3px;
    font-size: .8em;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(78, 189, 161);
}
h2 {
    text-align: center;
    padding: 30px;
}
h3 {
    text-align: center;
    margin-bottom: 30px;
}
h6 {
    margin-top: 40px;
}
p {
    font-size: .7em;
}
button {
    padding: 5px;
    color: beige;
    text-shadow: 0 0 2px gray;
    font-size: .9em;
    background-color: rgb(45, 214, 95);
    border-radius: 6px;
    letter-spacing: .1em;
    font-weight: 600;
    width: 100%;
    border: none;
    margin-top: 20px;
}
.form-group {
    margin-top: 20px;
}
.footer-content h3 {
    color: aliceblue;
    margin:50px auto;
}